/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* varirables */
:root{
  --first: black;
  --second: white;
  --third:#f89820;
  --fourth: #5382a1;
  --fifth: #353535; 
}


/* grid layout */
.header {
    grid-area: header;
  }

  .item-b {
    grid-area: main;
  }

  .nav {
    grid-area: nav;
  }

  .footer{
    grid-area: footer;
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-areas: 
      "header header header header header header"
      "nav . . . . . "
      "nav . . . . ."
      "nav . . . . ."
      "nav . . . . ."
      "nav . . . . ."
      "footer footer footer footer footer footer";
  }

  /* header */
.header{
  text-align: center; 
  background-color: var(--third);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 40px 0; /* creating space for header with 40px at top and bottom and 0 on sides */
  border-bottom: 5px solid var(--fifth);
}
.header a{
  color: var(--first);
}


/* vertical navbar */

.nav{
  width: 200px; 
  background-color: var(--fourth);
  border-right: 5px solid var(--fifth);
  padding: 50px 0;

}

.nav a, .nav p{
   color:var(--first);
   display: inline-block;
   padding: 15%;
  font-weight: bold;
}

/* for dropdown functionality */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none; /*hidden to start*/
  position: absolute;
  background-color: var(--second);
  
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none; /*removes bullets and underline*/
  display: block;
  background-color: #ddd;
  max-width: 153.5px;
}

.dropdown-content a:hover {
  background-color:var(--second);
 max-width: 20px;
}

.dropdown:hover .dropdown-content {
  display: block;
 
}

.dropdown:hover .dropbtn {
  background-color: var(--third);
 
}



/* style for index main */

.index_main{


}

/*  styling for about us page  */

.aboutus_main{


}

/* styling for car comparing page */






















/* footer */
  .footer ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: var(--fifth);
  }
  

.footer li{
    list-style-type: none; 
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

.footer a{
    color: var(--second);
    text-decoration: none;
}

